html {
    height: 100%;
}

body {
    background: #efeee7;
    font-family: "Georgia",Times New Roman,Times,serif;
    color: #333333;
    margin: 0;
    padding: 0;
}

header {
    background: #333333;

}
h1 {
    color: #eee;
    font-size: 28px;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h2 {
    font-size: 24px;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

#main-bio {
    float: left;
    max-width: 70%;
}

#contact-info {
    float: left;
    max-width: 30%;
    line-height: 25px;
}
#bio-image {
    float: left;
    max-width: 200px;
    margin-right: 20px;   
}

a {
    color: #d21034;
}